@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans:wght@400;500;600;700&display=swap");

.TomTomNavigation {
  text-align: left;
  position: relative;
}

.TomTomNavigation * {
  box-sizing: border-box;
}

.TomTomNavigation .mapboxgl-ctrl-top-left .mapboxgl-ctrl:empty,
.TomTomNavigation .mapboxgl-ctrl-top-right .mapboxgl-ctrl:empty,
.TomTomNavigation .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl:empty,
.TomTomNavigation .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl:empty {
  margin: 0; /* Reset margins for empty elements */
}

.TomTomNavigation .mapboxgl-ctrl-top-left .mapboxgl-ctrl:not(:empty) {
  margin-left: 16px;
  margin-top: 16px;
}

.TomTomNavigation .mapboxgl-ctrl-top-right .mapboxgl-ctrl:not(:empty) {
  margin-right: 16px;
  margin-top: 16px;
}

.TomTomNavigation .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl:not(:empty) {
  margin-right: 16px;
  margin-bottom: 16px;
}

.TomTomNavigation .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl:not(:empty) {
  margin-left: 16px;
  margin-bottom: 16px;
}

.TomTomNavigation
  .mapboxgl-ctrl-bottom-right
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  margin-right: 0;
  margin-bottom: 0;
}

.TomTomNavigation .mapboxgl-marker {
  line-height: 0;
}

@keyframes TomTomNavigation__fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TomTomNavigation__fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
